html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  background-color: rgb(30, 30, 30); /* start dark */
  transition: background-color 0.2s linear;

  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "SF Pro Display",
    Helvetica,
    Arial,
    sans-serif;
}

canvas {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  display: block;
}

#scroll-space {
  height: 500vh;
}

canvas {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  display: block;
}

#scroll-space {
  height: 300vh;
}
